# Logs
logs
*.log

# Dependency directories
backend/venv/
backend/__pycache__/

# Build outputs
backend/dist/
backend/build/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.env.*.local
